@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #eeeeee;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee';
    letter-spacing: 1px;
}
h1{
	font-size: 20px;
	margin-right: auto;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'Baloo 2';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'Baloo 2';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: rgb(41, 41, 41);
	background: initial;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: rgb(20, 20, 20);
    font-size: 11pt;
    font-family: 'Baloo 2';
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.photouser2 {
    margin-left: 0;
    width: 40px;
    height: 40px;
	border-radius: 50%;
	margin: 5px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: #ffffff;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: rgb(34, 34, 34);
	display: block;
	font-size: 10pt;
	font-family: 'Baloo 2';
	padding: 18px 30px;
	letter-spacing: 1px;
	transition: background .5s;
}
nav .principal > a{
    background: url(../images/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: #ffffff;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: #000000;
	color: white;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
	height: 100%;
}
/*******************    FORMULARIO USUARIO  **********************************************/
section .form_register{
	width: 450px;
	margin: auto;
	margin-top: 10px;
}
section .form_register h1{
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo 2';
	margin-top: 20px;
}
hr{
	border: 0;
	background: #CCC;
	height: 1px;
	margin: 10px 0;
	display: block;
}
form{
	background: white;
	margin: auto;
	padding: 20px 50px;
	border: 1px solid #d1d1d1;
}
label{
	display: block;
	font-size: 18px;
	font-family: 'Baloo 2';
	margin: 15px auto 5px auto;
}
input,select{
	display: block;
	width: 100%;
	height: 35px;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #85929d;
	border-radius: 5px;
}
.notItemOne option:first-child{
	display: none;
}
.btn-save{
	font-size: 12pt;
	background: #E1306C;
	padding: 10px;
	color: white;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 15px auto;
}
.btn-save:hover{
	background: white;
	color: black;
	border: 1px solid black;
}
.alert{
	width: 90%;
	background: #85929d;
	border-radius: 10px;
	margin: 20px auto;
	text-align: center;
}
.msg_error{
	background: #eb0a24;
	color: white;
	transition: 3s;
}
.msg_save{
	background: #1faf84;
	color: white;
}
.alert p{
	padding: 10px;
}
/******************* lISTA USUARIOS ****************************/
.tabla-usuario{
	margin-top: 10px;
}
.tabla-usuario h1{
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo 2';
	margin-top: 20px;
}
.tabla-usuario .botones{
	display: flex;
	justify-content: center;
}
.botones-2{
	width: 90%;
}
.tabla-usuario .btn-nuevo{
	display: inline-block;
	background: white;
	color: black;
	border-radius: 4px;
	margin: 5px;
	padding: 5px 25px;
	font-family: 'Baloo 2';
	border: 1px solid black;
}
.tabla-usuario .btn-info{
	display: inline-block;
	background: #eb0a24;
	color: white;
	border-radius: 4px;
	margin: 5px;
	padding: 5px 25px;
	font-family: 'Baloo 2';
}
.tabla-usuario .btn-nuevo:hover{
	background: #093a46;
	color: white;
	border: 0;
}
.tabla-usuario .btn-info:hover{
	background: #bd2133;
	color: white;
	border: 0;
}
.table{
	display: flex;
	justify-content: center;
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	width: 90%;
	justify-content: center;
}
th{
	font-family: 'Baloo 2';
	text-align: start;
	padding: 10px;
	background: rgb(94, 94, 94);
	color: white;
}
table tr:nth-child(odd){
	background: white;
}
table .rol-1 td{
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
}
table .rol-2 td{
	font-family: Arial, Helvetica, sans-serif;
	padding: 18px;
}
.link_edit{
	display: inline-block;
	background: #0BA9B6;
	color: white;
	border-radius: 6px;
	padding: 12px;
}
.link_add{
	display: inline-block;
	background: #0bb660;
	color: white;
	border-radius: 6px;
	padding: 12px;
}
.link_delete{
	display: inline-block;
	background: #eb0a24;
	color: white;
	border-radius: 6px;
	padding: 12px;
}
/******************* FORM DELETE ****************************/
.container-delete{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.data-delete{
	text-align: center;
	margin-top: 20px;
	width: 60%;
	height: auto;
	background: white;
}
.data-delete h2{
	margin-top: 20px;
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo 2';
}
.data-delete p{
	font-family: 'Baloo 2';
	font-size: 20px;
	margin: 5px;
	margin-top: 10px;
}
.data-delete span{
	color: #E1306C;
	font-size: 18px;
	font-weight: bold;
}
.btn-cancel, .btn-ok{
	width: 100px;
	background: #E1306C;
	color: white;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	font-family: 'Baloo 2';
	border: 0;
}
.btn-ok:hover{
	background: white;
	color: black;
	border: 1px solid black;
}
.btn-cancel{
	background: black;
}
.btn-cancel:hover{
	background: black;
	color: white;
}
.row-delete{
	display: flex;
	justify-content: center;
}
.datos-delete{
	border-radius: 10px;
	border: 1px solid #093a46;
	background: white;
	width: 50%;
	padding: 10px;
}
.datos-delete form{
	background: initial;
	border: none;
}
.datos-delete img{
	width: 45px;
	margin-top: 10px;
}
/******************* PAGINADOR ****************************/
.paginador_pr{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}
.paginador{
	width: 90%;
	display: flex;
	justify-content: center;
	border: none;
	background: #FFF;
}
.paginador ul{
	padding: 0;
	list-style: none;
	background: #FFF;
	margin-top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: inline-flex;
}
.paginador a, .pageSelected{
	color: rgb(0, 0, 0);
	border: none;
	display: inline-block;
	font-size: 20;
	text-align: center;
	width: 35px;
	margin: 1px;
	padding: 5px;
	font-family: 'Baloo 2';
}
.paginador a:hover{
	background: black;
	color: white;
	border: none;
}
.pageSelected{
	color: white;
	background: black;
}
/******************* BUSCADOR ****************************/
.buscador{
	background: initial;
}
.form-search{
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	float: right;
	background: #ededed;
	padding: 0;
	width: 40%;
	margin: 5px;
	border: none;
}
.form-search .btn-search{
	background: white;
	color: black;
	border: 1px solid black;
	padding: 0 20px;
	cursor: pointer;
	width: 20%;
	margin-left: 5px;
	display: inline-block;
	font-family: 'Baloo 2';
}
.form-search .barra-search{
	background: rgb(255, 255, 255);
	font-family: 'Baloo 2';
}
/******************* INICIO ****************************/
/**.cards-1{
	width: 80%;
	height: 100%;
	position: fixed;
	left: 10%;
}
.cards-2{
	background: orangered;
	width: 10%;
	height: 100%;
	position: fixed;
}
.cards-3{
	background: #bd2133;
	width: 10%;
	height: 100%;
	position: fixed;
	left: 90%;
}
.prin{
	background: yellowgreen;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}**/
/**********************FOTO*******************/
.prevPhoto {
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 150px;
    border: 1px solid #CCC;
    position: relative;
    cursor: pointer;
    background: url(../images/uploads/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}
.prevPhoto label{
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img{
	width: 100%;
	height: 100%;
}
.upimg, .notBlock{
	display: none !important;
}
.errorArchivo{
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold; 
	margin-top: 10px;
}
.delPhoto{
	color: #FFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}
#tbl_list_productos img{
	width: 50px;
}
.imgProductoDelete{
	width: 175px;
}
/*********************FOTO********************/
.titulo-pro{
	text-align: center;
}
.imagen-pro{
	display: flex;
	justify-content: center;
}
/****************MODLA**************************/
.modal{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(37, 37, 37, 0.85);
	display: none;
}
.bodyModal{
	width: 100%;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.bodyModal h4{
	color: white;
	background: #E1306C;
	font-family: 'Baloo 2';
	font-size: 20px;
}
.bodyModal form h1{
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo 2';
}
.bodyModal form h2{
	color: #000000;
	text-align: center;
	font-size: 20px;
	font-family: 'Baloo 2';
	margin-top: 20px;
}
.btn-add{
	color: white;
	background: #E1306C;
	width: 130px;
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	font-family: 'Baloo 2';
	cursor: pointer;
}
.btn-addVnta{
	color: white;
	background: black;
	width: 130px;
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	font-family: 'Baloo 2';
	cursor: pointer;
}
.btn-addC{
	color: white;
	background: #eb0a24;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	font-family: 'Baloo 2';
	cursor: pointer;
}
.btn-addC:hover{
	color: white;
	background: rgb(49, 48, 48);
}
.btn-add:hover{
	color: white;
	background: #0b3a42;
}
.closeForm:hover{
	background: black;
	color: white;
}
/**********************VENTAS*************************/
.datos-venta, .title_page{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 20px;
}
.datos{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd50{
	text-align: center;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl-venta{
	max-width: 1000px;
	margin: auto;
}
.tbl-venta td{
	font-family: 'Baloo 2';
	padding: 10px;
}
.tbl-venta tfoot td{
	font-weight: bold;
	font-family: 'Baloo 2';
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}
.title-page h1{
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Baloo 2';
}
.datos-venta h4{
	color: black;
	font-size: 20px;
	font-family: 'Baloo 2';
}
span .pagada{
	font-family: 'Baloo 2';
}
span .anulada{
	font-family: 'Baloo 2';
}
/**********************PANEL DE CONTROL*************************/
.prin, .prin-2{
	width: 100%;
    display: flex;
    justify-content: center;
}
.divContainer, .divInfoSistema{
	width: 80%;
}
.titlePanelControl{
	width: 100%;
	font-family: 'Baloo 2';
	margin-top: 20px;
	text-align: center;
	color: black;
	font-size: 20px;
}
.dashboard{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: auto;
	margin-top: 10px;
}
.dashboard a{
	color: #FFF;
	padding: 20px;
	background: #FFF;
	font-size: 20px;
	text-align: center;
	font-family: 'Baloo 2';
}
.dashboard p{
	color: #FFF;
	font-size: 18px;
}
.dashboard a span{
	font-weight: bold;
	font-size: 18px;
}
.containerPerfil{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.containerDataUser, .containerDataEmpresa, .containerDataProductos{
	width: 900px;
	height: 500px;
	background: #FFF;
	padding: 20px;
	margin-top: 10px;
	box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
}
.logoUser, .logoEmpresa{
	display: flex;
	justify-content: center;
	width: 300px;
	border-radius: 50%;
	margin: 20px;
	padding: 10px;
}
.logoUser img, .logoEmpresa img{
	width: 100%;
	height: 100%;
}
.divDataUser{
	padding: 10px;
	margin: auto;
}
.divInfoSistema h4{
	padding: 5px 10px;
	color: black;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Baloo 2';
}
.divDataUser > div{
	display: flex;
}
.divDataUser label{
	width: 150px;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}
.divDataUser span{
	font-family: 'Baloo 2';
	padding: 5px;
	margin-top: 10px;
}
.divInfoSistema form{
	padding: 20px;
}
.divInfoSistema input{
	margin-bottom: 10px;
}
.divInfoSistema button{
	width: 100%;
	border-radius: 10px;
	border: none;
	font-family: 'Baloo 2';
	padding: 5px;
}
.containerDataProductos .table-info table{
	width: 100%;
}
.table-info table td{
	font-family: 'Baloo 2';
}
.table-info table th{
	background: #E1306C;
}
.data-empresa label{
	margin: 0;
}
.direcciones{
	top: 0;
	font-size: 20px;
}
.direcciones a{
	color: rgb(0, 0, 0);
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	margin-top: 250px;
}
.direcciones a:hover{
	background: rgba(0, 0, 0, .5);
	transition: .5s;
}
.entradasProd table td{
	padding: 10px;
}
/*************TABLAS*****************/
.table table th{
	background: #E1306C;
}
.tbl-venta th{
	background: #E1306C;
}
.cord{
	width: 100%;
    height: 20%;
    display: grid;
}